<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Raport Tools</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-login.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header>
      <img src="{{ url_for('static', filename='img/backgraund-login.png') }}" alt="Logo Perusahaan" class="logo">
  </header>

  <div class="container">
    <main>
      <!-- Menampilkan pesan flash -->
       {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash-messages">
            <ul>
              {% for massage in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
       {% endwith %}

      <div class="label">
        <h1>Sign in to<br />Raport Tools</h1>
      </div>
      <form class="packLogin" id="loginForm" method="POST" action="{{ url_for('login') }}">
        <div class="button">
          <input type="email" name="email" placeholder="Email" class="input-field" required aria-label="Email">
          <i class='bx bx-envelope'></i>
        </div>
        <div class="button">
          <input type="password" name="password" placeholder="Password" class="input-field" required aria-label="Password">
          <i class='bx bxs-lock'></i>
        </div>
        <div class="box">
          <label class="rememberMe">
            <input type="checkbox" class="rectangle" aria-label="Remember me">
            <span class="text-wrapper">Remember me</span>
          </label>
          <div class="lupaPw">Lupa Password?</div>
        </div>

        <button type="submit" class="button-signin">
          <div class="text-wrapper">Sign in</div>
        </button>
      </form>
      <p>Jika belum mempunyai akun harap hubungi admin.</p>
    </main>
  </div>
</body>
</html>